* {
  color: black;
}
body {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 48px;
}
.tile {
  display: flex;
  width: 200px;
  height: 200px;
  background: gray;
}
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: coloumn-wrap;
  justify-content: center;
}
